.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-header {
  margin: 20px;
}

.main-content {
  display: flex;
  flex: 1;
  border: 1px solid #ddd;
}

.mindmap-view-container {
  flex: 1;
  height: 100%;
}